
<div class="container" *ngIf="t==true">

  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" routerLink="admin" (click)="onSubmit()">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="user" (click)="onSubmit()">User</a>
    </li>
   <!-- <li class="nav-item">
      <a class="nav-link active" routerLink="home" >AddWallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="login"  >GetById</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link active" routerLink="demo" >GetAllWallet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="delete">DeleteById</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="update">UpdateById</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="addfunds">Deposit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="withdraw">Withdraw</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="transferfunds">TransferFunds</a>
    </li>-->
  </ul><br>

 
</div>
<!---
<br>
<a routerLink="home" >AddWallet</a><br>
<a routerLink="login"  >GetById</a><br>
<a routerLink="registration"  >Registration</a><br>
<a routerLink="demo" >GetAllWallet</a><br>
<a routerLink="delete">DeleteById</a><br>
<a routerLink="update">UpdateById</a>-->
<router-outlet></router-outlet>


