<h1>UPDATE BY ID</h1>
<h6>Id :</h6>
<div class="card p-5">
<input type="text" [(ngModel)]="walletid" name="Gid" class="form-control" placeholder="Enter Your ID"><br>
<input type="submit" (click)="onSubmit()" class="btn btn-outline-primary"><br>
<div *ngIf="wallet.id!=null">
    <label>ID:</label>
    <input type="text" [(ngModel)]="wallet.id" class="form-control" placeholder="Enter Your Correct ID"><br>
<label>NAME:</label>
<input type="text" [(ngModel)]="wallet.name" class="form-control" #nameRef="ngModel" name="ename" id="ename"
pattern="[A-Za-z ]{3,}" title="Only chars are allowed,Min 3 char required" required placeholder="Enter Your Correct Name"><br>
<div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
    <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be balnk.</p>
    <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Name must have at least 3 chars, only chars are
      allowed.</p>
  </div><label>BALANCE:</label>
<input type="text" [(ngModel)]="wallet.balance" class="form-control" placeholder="Enter Your Correct Balance"><br>
<div class="form-group">
    <label>Email :</label>
    <input class="form-control" type="text" [(ngModel)]="wallet.email" [ngModelOptions]="{standalone: true}"
     placeholder="Enter Your Email"></div>
     <div class="form-group">
      <label>Password :</label>
      <input class="form-control" type="text" [(ngModel)]="wallet.pass" [ngModelOptions]="{standalone: true}"
       placeholder="Enter Your Password"></div>
       <div class="form-group">
        <label>Date :</label>
        <input class="form-control" type="date" [(ngModel)]="wallet.date" [ngModelOptions]="{standalone: true}"
         placeholder="Enter Your Balance"></div>
<input type="submit" (click)="update()" class="btn btn-outline-primary">
</div>
</div>
<div *ngIf="msg" class="alert alert-success" >
    <p class="">{{msg}}</p>
</div>
<div *ngIf="errorMsg" class="alert alert-danger">
    <p>{{errorMsg}}</p> 
</div>